@page "{productId}"
@model ITS.AmenduniA.SampleWebApp.Pages.Products.DeleteModel
@{
}

<h1>@Model.Product.Name</h1> <br />
<h3>@Model.Product.Price</h3>

<center>
    <h1>VUOI ELIMINARE QUESTO PRODOTTO?</h1>

    <a class="btn btn-primary"
    asp-page="/index">NO</a>

    <form method="post">
        <div class="form-group">
             <button type="submit" class="btn-primary btn">SI</button>
        </div>
    </form>

</center>

